@import "material-shadows";

*, html {
  box-sizing: border-box;
  font-family: 'Playfair', serif;
  margin: 0;
  padding: 0;
  border: 0;
}

.app-body {
  background-color: #a6886e;
}

.app-title {
 font-family: 'Kanit', 'Arial Black', sans-serif;
 font-size: 18px;
 font-weight: bolder;
 color: #423225;
 border: 1px solid #775941;
 margin: 30px auto;
 text-transform: uppercase;
 letter-spacing: 2px;
 display: inline-block;
 text-align: center;
 padding: 4px 20px;
}